.app-wrapper {
  display: grid;

  width: auto;
  height: auto;
  min-height: 600px;

  grid-template-areas:
  "h h"
  "sn p"
  "f f";

  grid-template-rows: 60px 12fr 60px;
  grid-template-columns: 150px 10fr;

}


